<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Simple Bar chart</title>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <style>
    .centered {
      position: absolute;
      top: 27%;
      left: 36%;
      transform: translate(-50%, -50%);
    }

    .header-centered {
      position: absolute;
      top: 2em;
      left: 10em;
      transform: translate(-50%, -50%);
    }

    body {
      margin: 0;
      padding: 0;
      font-family: 'Asap', sans-serif;
    }

    .bar {
      margin-top: 44px;
    }

    .axis {
      font-size: 13px;
    }

    .axis path,
    .axis line {
      fill: none;
      display: none;
    }

    .label {
      font-size: 13px;
    }
  </style>

</head>

<body onload="addText()">
  <div style="width: 100%; height: 4em; background-color: #487fc0; position: relative;">
    <img class="header-centered" src="./akme dummy logo white.png" />
  </div>
  <div id="graphic" style="float: left;"></div>

  <div>
    <img id="img" src="./icons/contended.png" style="margin-left: 16em; margin-top: 3em ">
  </div>
  <br/>
  <br/>
  <div style="border: 2px solid black; float: left; margin-left: 3em">
    <h3 style="margin-left: 12px; margin-top: 5px; margin-right: 12px; margin-bottom: 6px;">How are customers feeling about our products</h3>
  </div>

  <div style="margin-left: 52em;">
    <h2 id="msg">Overall Customer Satisfaction</h2>
  </div>

  <br/>
  <br/>
  <br/>

  <div style="margin-left: 3em;float: left; position: relative;">
	<img src="./icons/Combined Shape Copy.png">
    <div id="first" class="centered"> {{ sentJson.Hi_sent}}</div>
  </div>

  <div style="margin-left: 4em;margin-right: 4em; float: left; position: relative;">
	<img src="./icons/Combined Shape.png">
    <div id="second" class="centered"> {{sentJson.OK_sent}} </div>
  </div>

  <div style="margin-left: 3em; float: left;position: relative">
	<img src="./icons/Combined Shape Copy 3.png">
    <div id="third" class="centered"> {{sentJson.Poor_sent}} </div>
  <script>

    // change string values for bottom boxes

    function addText() {
      //document.getElementById('first').innerHTML = 'good'
      //document.getElementById('second').innerHTML = 'OK'
      //document.getElementById('third').innerHTML = 'bad'
    }
    // for setting up emoji icons & changing corresponding text
    // change the value 0,1,-1
    // 0 - content, 1 - satisfied, -1 - dissatisfied
    var value = 0.6
    switch (true) {
      case ( value <= 0.6 && value >= -0.6 ):
        document.getElementById('img').src = "./icons/okicon.png"
        document.getElementById('msg').innerHTML = 'Customer Satisfaction Level: OK'
        break;
      case ( value > 0.6 ):
        document.getElementById('img').src = "./icons/sunnyicon.png"
        document.getElementById('msg').innerHTML = 'Customer Satisfaction Level: Good'
        break;
      case ( value < -0.6 ):
        document.getElementById('img').src = "./icons/rainyicon.png"
        document.getElementById('msg').innerHTML = 'Cusomer Satisfaction Level: Poor'
        break;
      default:
        document.getElementById('img').src = "./icons/okicon.png"
        document.getElementById('msg').innerHTML = 'Customer Satisfaction Level: OK'
    }


    var data = [
      {
        "name": "VERY DISSATISFIED",
        "value": {{sentJson.Highly_Neg}},
        "color": "#34495E"
      },
      {
        "name": "SOMEWHAT DISSATISFIED",
        "value": {{sentJson.Moderately_Neg}},
        "color": "#839192"
      },
      {
        "name": "NEUTRAL",
        "value": {{sentJson.Neutral}},
        "color": "#F9E79F"
      }, {
        "name": "SOMEWHAT SATISFIED",
        "value": {{sentJson.Moderately_Pos}},
        "color": "#D4AC0D"
      },
      {
        "name": "HIGHLY SATISFIED",
        "value": {{sentJson.Highly_Pos}},
        "color": "#229954"
      },

    ];

    //sort bars based on value
    // data = data.sort(function (a, b) {
    //   return d3
    //   return d3.ascending(a.value, b.value);
    // })

    //set up svg using margin conventions - we'll need plenty of room on the left for labels
    var margin = {
      top: 25,
      right: 25,
      bottom: 25,
      left: 160
    };

    var width = 560 - margin.left - margin.right,
      height = 250 - margin.top - margin.bottom;

    var svg = d3.select("#graphic").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scale.linear()
      .range([0, width])
      .domain([0, d3.max(data, function (d) {
        return d.value;
      })]);

    var y = d3.scale.ordinal()
      .rangeRoundBands([height, 0], .1)
      .domain(data.map(function (d) {
        return d.name;
      }));

    //make y axis to show bar names
    var yAxis = d3.svg.axis()
      .scale(y)
      //no tick marks
      .tickSize(0)
      .orient("left");

    var gy = svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)

    var bars = svg.selectAll(".bar")
      .data(data)
      .enter()
      .append("g")

    //append rects
    bars.append("rect")
      .attr("class", "bar")
      .attr("y", function (d) {
        return y(d.name);
      })
      .attr("fill", function (d) {
        return d.color
      })


      .attr("height", y.rangeBand())
      .attr("x", 0)
      .attr("width", function (d) {
        return x(d.value);
      });

    //add a value label to the right of each bar
    bars.append("text")
      .attr("class", "label")
      //y position of the label is halfway down the bar
      .attr("y", function (d) {
        return y(d.name) + y.rangeBand() / 2 + 4;
      })
      //x position is 3 pixels to the right of the bar
      .attr("x", function (d) {
        return x(d.value) + 3;
      })
      .text(function (d) {
        return d.value;
      });

  </script>

</body>

</html>
